@charset "utf-8";

@import "bootstrap";

.formbuilder-wrap {
  h1 {
    color: rgba(0, 0, 0, .3);
    font-weight: bold;
    font-size: 26px;
    letter-spacing: -1px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
    margin: 0;
  }
  h1.title {
    font-family: "Roboto", sans-serif;

    .display-title {
      color: #444;
    }
    .hashtag {
      font-size: 15px;
      color: #aaa;
    }
  }
  h2.display-description {
    color: rgba(0, 0, 0, .3);
    font-weight: bold;
    font-size: 26px;
    letter-spacing: -1px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
    margin: 0;
  }
  .like-code {
    font-family: "Courier New", monospace;
  }
}

blockquote {
  font-size: 18px;
  font-weight: 600;
  color: #666;
}
.option-placeholder {
  background-image: url('../images/construction_paper.png');
}
.placeholder {
  height: 110px;
  background-image: url('../images/construction_paper.png');
}
#additional-options {

}
.survey-detail {
  float: left;
  padding: 4px 12px 4px 0;
}

button.xlfrow-cog {
  float: right;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  margin: -6px -9px 0 0;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=20);
  &.active {
    opacity: 0.5;
    filter: alpha(opacity=50);
  }
  &:hover, &:focus {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.5;
    filter: alpha(opacity=50);
  }
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}
.row-extras {
  border: 1px dotted #ddd;
  border-radius: 6px;
  background-color: #f8f8f8;
  .dt-view {
    margin-left: 24px;
  }
}
.row-extras-summary {
  color: #aaa;
  font-style: italic;
  border-radius: 6px;
  border: 1px dotted transparent;
  &:hover {
    background-color: #fafafa;
    border-color: #ddd;
  }
}

// .cl-fixed-row {
//   margin-left: -15px;

//   .select-type-box {
//     float: left;
//     width: 165px;
//     padding: 2px 7px 2px 3px;
//     border: 1px solid #ccc;
//     margin: 0 3px 0 0;
//     select {
//       padding: 6px;
//       font-size: 18px;
//     }
//   }
//   .select-list-box {
//     max-width: 50%;
//     line-height: 3em;
//     padding: 0 5px;
//     select {
//       padding: 6px;
//       font-size: 18px;
//     }
//   }
//   select.placeholding {
//     font-style: italic;
//     color: #666;
//   }
//   .selected-list-summary {
//     font-size: 12px;
//     line-height: 2.2em;
//     margin-bottom: 2px;
//   }
//   .n-lists-available {
//     border-bottom: 1px solid #ccc;
//     font-size: 11px;
//   }

//   .expanded {
//     .iwrap {
//       border: 1px solid #777;
//       background-color: rgba(255,255,255,0.2);
//       padding-bottom: 4px;
//       margin-right: 95px;
//     }
//     h4.list-name {
//       margin: 0;
//       border: 1px solid #777;
//       height: 24px;
//       padding: 6px 0;
//       margin: 2px;
//       float: left;
//       text-align: center;
//       background-color: #ddd;
//       line-height: 25px;
//     }
//     p.buttons {
//       float: right;
//       margin: 4px 6px;
//     }
//     textarea {
//       margin-left: 0;
//     }
//   }

//   .cl-span-1, .cl-span-2, .cl-span-3, .cl-span-4, .cl-span-5, .cl-span-6, .cl-span-7 {
//     margin-left: 15px;
//     float: left;
//   }
//   .cl-span-1 {
//     width: 80px;
//   }
//   .cl-span-2 {
//     width: 160px;
//   }
//   .cl-span-3 {
//     width: 240px;
//   }
//   .cl-span-4 {
//     width: 320px;
//   }
//   .cl-span-5 {
//     width: 400px;
//   }
//   .cl-span-6 {
//     width: 480px;
//   }
//   .cl-span-7 {
//     width: 560px;
//   }
//   .float-left {
//     float: left;
//   }
// }

.cf {
  // http://nicolasgallagher.com/micro-clearfix-hack/
  *zoom: 1;
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}
.row-type-col {
  width: 4.1666%;
  float: left;
}
.form-editor-wrap {
  color: rgb(50, 53, 70);
  label {
    color: rgb(50, 53, 70)
  }

  ul.-form-editor {
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    min-height: 62px;
    li {
      position: relative;
      margin: 0;
      padding: 12px 0 0 0;
      // border-bottom: 1px solid #ddd;
      // opacity: 0.8;
      // &.xlf-selected {
      //   opacity: 1;
      // }
      .detail-view {
        // margin: 6px 20px 0;
        &:last-child {
          // margin-bottom: 6px;
        }
      }
      &:first-child {
        // padding-top: 6px;
      }
      &:last-child {
        // border-bottom: 0 none;
      }
      &.editor-message.empty {
        text-align: center;
        color: #888;
        padding: 12px;
      }
    }
    a.delete-row {
      text-decoration: none;
      position: absolute;
      top: 12px;
      right: 6px;
      font-size: 20px;
      line-height: 18px;
      color: #999;
      cursor: pointer;
      display: block;
      padding: 3px 8px 6px;
      &:hover {
        color: #444;
      }
    }
  }
  .underline {
    text-decoration: underline;
  }
}
.xlf-row-view {

}
.expanding-spacer-between-rows {
  position: relative;
  margin: 0;
  .add-row-btn {
    background-color: #fff;
    color: #888;
    font-size: 11px;
    width: 360px;
    z-index: 99;
    position: absolute;
    left: 50%;
    margin-left: -180px;
    height: 16px;
    line-height: 13px;
    top: 6px;

    &:hover, &.hovered {
      color: #888;
      background-color: #fff;
      height: 18px;
      top: 5px;
      line-height: 16px;
      font-weight: bold;
    }
  }
  .line {
    margin-top: 14px;
    height: 0;
    border: 1px solid #ccc;
    border-width: 1px 0 0 0;
    z-index: 1;
    &.expanded {
      border-width: 1px 0;
      height: inherit;
    }
  }
  $mrWidth: 65px;
  .menu-row {
    // width: $mrWidth;
    // height: $mrWidth;
    // float: left;
    // margin-left: 12px;
    // border: 1px solid red;
    // box-sizing: border-box;
  }
  .menu-item {
    height: $mrWidth;
    line-height: $mrWidth;
    text-align: center;
    font-size: 11px;
    cursor: pointer;
    opacity: 0.7;
    color: transparent;
    background-size: 63px 63px;
    border-radius: 4px;

    &:hover {
      opacity: 0.9;
      background-color: #bbb;
    }
    &.menu-item-text {
      background-image: url('../images/type-icons/text.png');
    }
    &.menu-item-audio {
      background-image: url('../images/type-icons/audio.png');
    }
    &.menu-item-barcode {
      background-image: url('../images/type-icons/barcode.png');
    }
    &.menu-item-datetime {
      background-image: url('../images/type-icons/datetime.png');
    }
    &.menu-item-date {
      background-image: url('../images/type-icons/date.png');
    }
    &.menu-item-decimal {
      background-image: url('../images/type-icons/decimal.png');
    }
    &.menu-item-geopoint {
      background-image: url('../images/type-icons/geopoint.png');
    }
    &.menu-item-integer {
      background-image: url('../images/type-icons/integer.png');
    }
    &.menu-item-note {
      background-image: url('../images/type-icons/note.png');
    }
    &.menu-item-video {
      background-image: url('../images/type-icons/video.png');
    }
    &.menu-item-image {
      background-image: url('../images/type-icons/image.png');
    }
    &.menu-item-select_multiple {
      background-image: url('../images/type-icons/select.png');
      &:after {
        content: "select multiple";
      }
    }
    &.menu-item-select_one {
      background-image: url('../images/type-icons/select.png');
      &:after {
        content: "select multiple";
      }
    }
  }
}
.sortable-active {
  background-color: #fafafa;
  border: 1px solid #bbb;
  .expanding-spacer-between-rows {
    display: none;
  }
}

#test-wrap {
  background-color: #fff;
}

// .row-details {
//   margin: 4px 0 -2px 0;
//   font-size: 11px;

//   .row-detail {
//     display: inline-block;
//     margin: 0 12px 0 0;
//     color: #666;
//     border: 1px solid #bbb;
//     border-color: #dee1e3;
//     height: 18px;
//     line-height: 17px;
//     padding: 0.5px 4px;
//     border-radius: 3px;
//     strong.click-editable, strong.click-editable-shading {
//       border: 1px solid;
//       border-color: #ddd #ccc #bbb #ccc;
//       padding: 0 4px;
//       border-radius: 2px;
//       cursor: pointer;
//       &.error {
//         color: rgb(204,123,123);
//         background-color: #ffbdbd;
//         border-color: rgb(255,186, 186) rgb(204,123,123) rgb(204,123,123) rgb(255,186,186);
//         &:after {
//           color: rgb(204,123,123);
//         }
//         &:hover {
//           color: #c53131;
//           border-color: rgb(255,186, 186) rgb(204,123,123) rgb(204,123,123) rgb(255,186,186);
//           background-color: #f88;
//           &:after {
//             color: #c53131;
//           }
//         }
//       }
//       &:hover {
//         border-color: #ddd #ccc #999 #ccc;
//         background-color: #ddd;
//       }
//       &:after {
//         content: " ||";
//         color: #bbb;
//         font-size: 10px;
//       }
//     }
//     &.pointer, &.pointer * {
//       cursor: pointer;
//     }
//     input {
//       display: inline-block;
//       position: relative;
//       top: 3px;
//     }
//     &.active {
//       color: #4D4D96;
//       border-top-color: #c0c0ff;
//       border-right-color: #c2c2ff;
//       border-bottom-color: #c2c2ff;
//       border-left-color: #bbf;
//       background-color: #E2E9F5;
//     }
//     a {
//       color: inherit;
//       text-decoration: none;
//       border-bottom: 1px solid #bbb;
//       &:hover {
//         border-color: #888;
//         cursor: pointer;
//       }
//     }
//     select.type-select {
//       margin-left: 5px;
//     }
//   }
// }
div.trailing-buttons {
  text-align: right;
  padding: 0 28px;
  margin: 0;
  button {
    &.attached {
      // border-radius: 0 0 6px 6px;
      padding-top: 12px;
    }
    padding: 5px 12px;
    // border-radius: 1px;
    font-size: 14px;
    color: #444;
  }
}

.type-icon {
  height: 40px;
  width: 40px;
  background-size: 40px 40px;
  opacity: 0.4;
  &.rt-text {
    background-image: url('../images/type-icons/text.png');
  }
  &.rt-audio {
    background-image: url('../images/type-icons/audio.png');
  }
  &.rt-barcode {
    background-image: url('../images/type-icons/barcode.png');
  }
  &.rt-datetime {
    background-image: url('../images/type-icons/datetime.png');
  }
  &.rt-date {
    background-image: url('../images/type-icons/date.png');
  }
  &.rt-decimal {
    background-image: url('../images/type-icons/decimal.png');
  }
  &.rt-geopoint {
    background-image: url('../images/type-icons/geopoint.png');
  }
  &.rt-integer {
    background-image: url('../images/type-icons/integer.png');
  }
  &.rt-note {
    background-image: url('../images/type-icons/note.png');
  }
  &.rt-video {
    background-image: url('../images/type-icons/video.png');
  }
  &.rt-image {
    background-image: url('../images/type-icons/image.png');
  }
  &.rt-select_one {
    background-image: url('../images/type-icons/select.png');
  }
  &.rt-select_multiple {
    background-image: url('../images/type-icons/select.png');
  }
}
.formbuilder-wrap {
  // width: 796px;
  // border: 1px solid #bbb;
  // border-radius: 4px;
  margin: 10px auto;
  // padding: 12px 14px;
  // background-color: #d4d4d4;

  #survey-stats {
    // border-top: 1px solid #bbb;
    padding-top: 1px;
    color: #666;
  }


  /* Using ".post-row-buttons"
     so that we can have an easy way to add questions
     into the middle of the list */

  .stats {
    // background-color: #f0f0f0;
    // border: 1px solid #666;
    // border-color: #aaa #999 #999 #aaa;
    // border-radius: 4px;
    // font-size: 11px;
    // margin: 0 0 6px;
    // padding: 3px 6px;
  }
  .edit-list-view {
    // background-color: rgba(200,200,200,0.8);
    padding: 4px 6px;
    margin-right: 20px;
    p {
      margin: 0;
    }
  }
}

.list-view {
  ul {
    li {
      p {
        margin: 0;
      }
    }
  }
  button {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}